<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.instabug.bug"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="27" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>
        <activity
            android:name="com.instabug.bug.view.BugReportingActivity"
            android:launchMode="singleTask"
            android:theme="@style/InstabugSdkTheme"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <data
                    android:host="instabug-disclaimer.com"
                    android:scheme="instabug-bug" />

                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <service
            android:name="com.instabug.bug.network.InstabugBugsUploaderService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name="com.instabug.bug.view.actionList.service.ReportCategoriesService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>