<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.instabug.survey"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="27" />

    <application>
        <activity
            android:name="com.instabug.survey.ui.SurveyActivity"
            android:launchMode="singleTop"
            android:theme="@style/InstabugTranslucentSdkTheme"
            android:windowSoftInputMode="adjustResize" />

        <service
            android:name="com.instabug.survey.network.service.InstabugSurveysSubmitterService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>