<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.instabug.crash"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="27" />

    <application>
        <service
            android:name="com.instabug.crash.network.InstabugCrashesUploaderService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>